.navbar {
    font-family:  'Economica';
}

.app {
    font-family:  'Economica';
}
.img-fluid{
    border-radius: 10px;
}   

.test {
    border: solid;
    border-width: 1px;
    border-color: red;
}